* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 10px;
}

body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-image: url(images/programmer.png);
	background-size: cover;
    font-family: "Poppins", sans-serif;
	font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
}

header {
	margin-top: 4rem;
	margin-bottom: 2rem;
    padding-left: 1rem;
	padding-right: 1rem;
}

#description {
    margin-top: 1rem;
    font-style: italic;
}

#survey-form {
    background: #1b1b1b;
	width: 800px;
	min-width: 300px;
	margin: 0 auto;
	padding-bottom: 2em;
	border-radius: 15px;
	margin-bottom: 15px;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 1px solid #3d8991;
}
  
fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: flex;
    margin: 0.5rem 1.5rem;
	justify-items: left;
}

  
input, textarea, select {
    background-color: #ffffff;
    border: 1px solid #0a0a23;
    color: #000000;
	margin-left: 1rem;
	border-radius: 2px;
}

textarea {
	width: 400px;
}

input[type="submit"] {
	padding: 10px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #3d8991;
	border: none;
	border-radius: 15px;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background-color: #0a5860;
}

input[type="submit"]:active {
	background-color: #297b84;
}