:root {
    --bg-color: rgba(227, 221, 221, 0.872);
    --btn-color: #907162;
    --naming-color: #4489dd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;    
    background-color: var(--bg-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    position: fixed;
    background-color: var(--bg-color);
    width: 100%;
    top: 0;
}

a {
    all: unset;
    cursor: pointer;
    margin-left: 2rem;
}

.nav__list {
    list-style: none;
}

.nav__link {
    display: inline-block;
    padding: 0 24px;
}

h1, h2 {
    padding: 2rem;
}

.profile-link {
    display: inline-block;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.introduction {
    color: var(--naming-color);
}

.profession {
    font-style: italic;
}

.contact {
    color: var(--naming-color);
    padding: 2rem;
}


#projects {
    position: relative;
    bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.projects {
    position: relative;
    margin: 0 16px;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    width: 100%;
    padding: 0 0.25rem;
    height: 720px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

img {
    width: 600px;
    height: 600px;
}

@media (prefers-reduced-motion: no-preference) {
    * {
    scroll-behavior: smooth;
    }
}